@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* default setup */
*{
    margin: 0 auto;
    /* background-color: rgb(0, 0, 0); */
    
    
    
}
body {
    font-family: "Inter", sans-serif;
  }

  .frontpage{
    background: linear-gradient(360deg, rgb(11, 11, 14), rgba(0, 0, 0, 0.788));
  }

  /* navbar styles */

  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 57px;
  }

  .nav-title h4{
    Font weight: 800;
    font-size: 2rem;
    color: rgb(230, 83, 60);
    font-style: italic;
        
}

.nav-btn{
    border: 1px solid rgb(66, 65, 65);
    width: 565px;
    height: 46px;
    border-radius: 39px;
    padding: 4px 1px 4px 1px;
    display: flex;
    justify-content: space-between;
}

.nav-btn a{
    text-decoration: none;
    /* border: 1px solid red; */
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    /* background-color: rgba(255, 255, 255, 0.1); */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-btn{
    background-color: rgb(230, 83, 60);
}


/* Banner styles */

/* background-image: linear-gradient(180deg, rgba(19, 19, 24, 1.00) 0%,  */
/* rgba(19, 19, 24, 0) 100%), url(../images/image\ 2.png); */

/* banner image styles */

.banner{
    width: 85%;
    height: 715px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.banner-text{
    width: 500px;
    height: 439px;

}
.banner-text span{

                font-family: 'Miama', sans-serif;
                 font-size: larger;
                 font-weight: 900;
}
.banner-text h2{
    font-size: 78px;
    font-weight: 900;
    color: #ffffff;
}

.banner-text p{
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.banner-img{
    
    background-image: url(../images/Images\ 2.png);
    width: 349px;
    height: 580px;
    position: relative;
}

/* banner backup */
/* .banner-img{ 
    
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.315) 0%, rgba(19, 19, 24, 0) 100%), url(../images/Images\ 2.png);
    width: 349px;
    height: 580px;
}
*/

/* banner button styles */

.join-btn{
    margin-top: 28px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46px 16px 46px;
}

.dapp{
    margin-top: 28px;
    margin-left: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(36, 35, 35, 0.308);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46px 16px 46px;
}


/* Banner float styles */
.banner-float1{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -130px;
    top: 100px;
}

.banner-float1 h4{
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}
.banner-float1 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    text-align: center;

}

#circle{
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.banner-float2{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 190px;
    top: 330px;
}

.banner-float2 h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;

}
.banner-float2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    text-align: center;

}


/* habits page style */

.habits-container{
    margin-top: 100px;
    width: 85%;
    background-color: black;
}

.habits-text{
display: flex;
flex-direction: column;

}

.habit-cards{
    margin-top: 58px;
    display: flex;   
}

.habits-text h4{
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
}

.habits-text p{
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.imagedata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 231px;
}

.imagedata img{
 border-radius: 50%;
}

.imagedata h5{
    color: #ffffff;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.imagedata p{
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
}


/* Run page styles */

.run{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 85%;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1.00);
    display: flex;
    justify-content: space-between;
}

.run-text{
    /* border: 2px solid seagreen; */
    padding: 40px 54px 40px 54px;
    width: 443px;
    height: 290px;
}

.run-text h3{
    font-weight: 900;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1.00);
}

.run-text p{
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.run-btn{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    padding: 16px 40px 16px 40px;
    background-color: rgba(230, 83, 60, 1.00);
    color: rgba(255, 255, 255, 1.00);
    font-size: 1rem;
    font-weight: 600;
     
}

.run-img{
    padding: 30px 32px 30px 32px;
    /* border: 2px solid red; */
    border-radius: 18px;
}


.run-img img{
    width: 366px;
    height: 312px;  
    /* border: 2px solid #ffffff; */
    border-radius: 18px;
    overflow: hidden;
    object-fit: none;
    object-position: 65% 28%;
    
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}


/* Meet our team styles */
.mot{
    background-color: rgb(78, 77, 77);
    
}
.mot-txt{
    margin-top: 88px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mot-txt h3{
        font-weight: 900;
        font-size: 3rem;
        color: rgba(255, 255, 255, 1.00);
}

.mot-txt p{
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.mot-images {
    
    background-color: rgba(112, 109, 109, 0.2);
    padding: 20px;
    border-radius: 18px;
    width: 50%;
    height: 604px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 272px; */
    gap: 10px;
    position: relative;
    
}

.mot-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
}

.mot-float1{
    align-items: center;
    position: relative;
    right: -350px;
    top: -380px;
}

.mot-float1 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float1 p{
font-weight: 400;
font-size: 14px;
}

.mot-float2{
    align-items: center;
    position: relative;
    right: -580px;
    top: -420px;
}

.mot-float2 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float2 p{
font-weight: 400;
font-size: 14px;
}

.mot-float3{
    align-items: center;
    position: relative;
    right: -770px;
    top: -420px;
}

.mot-float3 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float3 p{
font-weight: 400;
font-size: 14px;
}

.mot-float4{
    
}

.mot-float4 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float4 p{
font-weight: 400;
font-size: 14px;
}

.mot-float5{
    
}

.mot-float5 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float5 p{
font-weight: 400;
font-size: 14px;
}
.mot-float6{
    
}

.mot-float6 h5{
font-weight: 900;
font-size: 20px;
}
.mot-float6 p{
font-weight: 400;
font-size: 14px;
}