@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* default setup */
*{
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    
    
    
}
body {
    font-family: "Inter", sans-serif;
  }

  .frontpage{
    background: linear-gradient(360deg, rgba(50, 50, 54, 0.644), rgba(0, 0, 0, 0.788));
  }

  /* navbar styles */

  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 57px;
  }

  .nav-title h4{
    Font weight: 800;
    font-size: 2rem;
    color: rgb(230, 83, 60);
    font-style: italic;
        
}

.nav-btn{
    border: 1px solid rgb(66, 65, 65);
    width: 565px;
    height: 46px;
    border-radius: 39px;
    padding: 4px 1px 4px 1px;
    display: flex;
    justify-content: space-between;
}

.nav-btn a{
    text-decoration: none;
    /* border: 1px solid red; */
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    color: #ffffff;
    /* background-color: rgba(255, 255, 255, 0.1); */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home-btn{
    background-color: rgb(230, 83, 60);
}


/* Banner styles */

/* background-image: linear-gradient(180deg, rgba(19, 19, 24, 1.00) 0%,  */
/* rgba(19, 19, 24, 0) 100%), url(../images/image\ 2.png); */

/* banner image styles */

.banner{
    width: 85%;
    height: 715px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.banner-text{
    width: 500px;
    height: 439px;

}
.banner-text span{
                background-color: #00000000;
                font-family: 'Miama', sans-serif;
                 font-size: larger;
                 font-weight: 900;
}
.banner-text h2{
    font-size: 78px;
    font-weight: 900;
    color: #ffffff;
}

.banner-text p{
    margin-top: 28px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.50);
}

.banner-img{
    
    background-image: url(../images/Images\ 2.png);
    width: 349px;
    height: 580px;
    position: relative;
}

/* banner backup */
/* .banner-img{ 
    
    background-image:linear-gradient(0deg, rgba(19, 19, 24, 0.315) 0%, rgba(19, 19, 24, 0) 100%), url(../images/Images\ 2.png);
    width: 349px;
    height: 580px;
}
*/

/* banner button styles */

.join-btn{
    margin-top: 28px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgb(230, 83, 60);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46px 16px 46px;
}

.dapp{
    margin-top: 28px;
    margin-left: 14px;
    color: rgba(255, 255, 255, 1.00);
    background-color: rgba(36, 35, 35, 0.308);
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 46px 16px 46px;
}


/* Banner float styles */
.banner-float1{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -130px;
    top: 100px;
}

.banner-float1 h4{
    background-color: #00000000;
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    text-align: center;

}
.banner-float1 p{
    background-color: #00000000;
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    text-align: center;

}

#circle{
    background: rgb(230, 83, 60);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.banner-float2{
    width: 206px;
    height: 96px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 190px;
    top: 330px;
}

.banner-float2 h4{

    background-color: #00000000;

    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    text-align: center;

}
.banner-float2 p{
    background-color: #00000000;
    
    color: rgba(255, 255, 255, 0.65);
    font-size: 12px;
    font-weight: 400;
    text-align: center;

}


/* habits page style */

.habits-container{
    margin-top: 100px;
    width: 85%;
    background-color: black;
}

.habits-text{
display: flex;
flex-direction: column;

}

.habit-cards{
    margin-top: 58px;
    display: flex;   
}

.habits-text h4{
    color: #ffffff;
    font-size: 48px;
    font-weight: 900;
}

.habits-text p{
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.imagedata{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 231px;
}

.imagedata img{
 border-radius: 50%;
}

.imagedata h5{
    color: #ffffff;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
}
.imagedata p{
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.50);
font-size: 14px;
font-weight: 400;
}


/* Run page styles */

.run{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 75%;
    border-radius: 18px;
    background-color: rgba(34, 34, 34, 1.00);
    display: flex;
    justify-content: space-between;
}

.run-text{
    /* border: 2px solid seagreen; */
    background-color: #00000000;
    padding: 40px 54px 40px 54px;
    width: 443px;
    height: 290px;
}

.run-text h3{
    font-weight: 900;
    background-color: #00000000;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1.00);
}

.run-text p{
    background-color: #00000000;
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.run-btn{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    padding: 16px 40px 16px 40px;
    background-color: rgba(230, 83, 60, 1.00);
    color: rgba(255, 255, 255, 1.00);
    font-size: 1rem;
    font-weight: 600;
     
}

.run-img{
    background-color: #00000000;
    padding: 30px 32px 30px 32px;
    /* border: 2px solid red; */
    border-radius: 18px;
}


.run-img img{
    width: 366px;
    height: 312px;  
    /* border: 2px solid #ffffff; */
    border-radius: 18px;
    overflow: hidden;
    object-fit: none;
    object-position: 65% 28%;
    
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}


/* background color */
.runpage{
    background-color: #000000;
}

.habits-container{
    background-color: #000000;
}
.feet{
    background-color: #000000;
}

/* Bmi calculator styles */

.bmi-container{

}

.bmi-title{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.bmi-title h2{
    /* margin-left: 0px; */
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
    text-align: left;
}
.bmi-title p{
    margin-top: 14px;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.50);
}

.chart{
    background-color: rgba(34, 34, 34, 1.00);
    display: flex;
    flex-direction: column;
}

.chart h5{
    background-color: rgba(34, 34, 34, 1.00);
    margin-top: 30px;
    font-weight: 900;
    font-size: 1.8rem;
color: #ffffff;
}

.chart-input{
    width: 100%;
    height: 487px;
    background-color: rgba(34, 34, 34, 1.00);
    color: #ffffffa4;
    display: flex;
}

.input-title h2{
    font-weight: 900;
    font-size: 28px;
    color: #ffffff;
    background-color: rgba(34, 34, 34, 1.00);
}
.input-title p{
    padding: 14px 0px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(34, 34, 34, 1.00);
}

.input-field {
    margin-top: 34px;
    background-color: rgba(34, 34, 34, 1.00);
}



.input{
    background-color: rgba(34, 34, 34, 1.00);
    margin-top: 35px;
    width: 577px;
    height: 386px;
}

input::placeholder {
    padding-left: 10px;
    color: rgba(214, 212, 212, 0.671);
  }



#height{
    margin-top: 10px;
    margin-left: 12px;
    width: 262px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(165, 163, 163, 0.342);
}
#weight{
    margin-left: 12px;
    width: 262px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(165, 163, 163, 0.342);
}
#age{
    margin-top: 12px;
    margin-left: 10px;
    width: 262px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(165, 163, 163, 0.342);
}
#sex{
    margin-left: 12px;
    width: 262px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(165, 163, 163, 0.342);
}
#sf {
    margin-top: 10px;
    display: block;
    width: 262px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: rgba(165, 163, 163, 0.342);
}

.clc-btn{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: none;
    padding: 16px 40px 16px 40px;
    background-color: rgba(230, 83, 60, 1.00);
    color: rgba(255, 255, 255, 1.00);
    font-size: 1.1rem;
    font-weight: 600;
}

/* table styles */


table {
    
    margin-top: 52px;
    width: 310px;
    height: 216px;
    border-collapse: collapse;
}
td {
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 10px;
}

/* Meet our team styles */
.mot{
    background-color: rgb(0, 0, 0);
    
}
.mot-txt{
    margin-top: 88px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.mot-txt h3{
        font-weight: 900;
        font-size: 3rem;
        color: rgba(255, 255, 255, 1.00);
}

.mot-txt p{
    margin-top: 14px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

.mot-images {
    
    background-color: rgba(112, 109, 109, 0.2);
    padding: 20px;
    border-radius: 18px;
    width: 50%;
    height: 604px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 272px; */
    gap: 10px;
    position: relative;
    
}

/* Fresh image adding test */

.img1 h5{
    background-color: #00000000;
}
.img1 p{
    background-color: #00000000;
}
.img2 h5{
    background-color: #00000000;
}
.img2 p{
    background-color: #00000000;
}
.img3 h5{
    background-color: #00000000;
}
.img3 p{
    background-color: #00000000;
}
.img4 h5{
    background-color: #00000000;
}
.img4 p{
    background-color: #00000000;
}
.img5 h5{
    background-color: #00000000;
}
.img5 p{
    background-color: #00000000;
}
.img6 h5{
    background-color: #00000000;
}
.img6 p{
    background-color: #00000000;
}

.banner{
    
    background-color: #00000000;
   
}

.banner-text{
    background-color: #00000000;
}
.banner-text h2{
    background-color: #00000000;
}
.banner-text p{
    background-color: #00000000;
}

.banner-img{
    background-color: #00000000;
}

.banner-float2 h4{
    background-color: #00000000;
}



.img1{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer1.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.img2{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer2.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.img3{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer3.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.img4{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer4.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.img5{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer5.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.img6{
    background: linear-gradient(rgba(0, 0, 0, 0.20),rgba(0, 0, 0, 0.20)), url(../images/trainer6.png);
    width: 100%;
    height: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.mot-img-float h5{
    margin-left: 20px;
    margin-top: 250px;
    font-weight: 900;
    font-size: 1.2rem;
    color: #ffffff;
    }
.mot-img-float p{
    margin-left: 20px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}

/* Fresh image adding test */

.feet{
    margin-top: 30px;
    display: flex;
    width: 50%;
    justify-content: space-between;
    
}

.footleft{
width: 443px;
height: 176px;


/* background-color: rgba(255, 255, 255, 0.10); */
}
.footleft h2{
    margin-top: 30px;
    text-align: left;
font-weight: 800;
font-size: 4.2rem;
color: rgba(230, 83, 60, 1.00);
}
.footleft p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 0.8rem;

    color: rgba(255, 255, 255, 0.50);
    }

.footright{
    width: 514px;
    height: 250px;
    display: flex;
}

.anchorcol1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.anchorcol1 h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
}

.anchorcol1 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: rgba(148, 146, 146, 0.589);
}

.anchorcol2{
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    text-align: center;
}
.anchorcol2 h4{
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
}
.anchorcol2 a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: rgba(184, 173, 173, 0.589);
}


.cpr{
    margin-top: 20px;
    width: 50%;
    text-align: center;
    color: rgba(184, 173, 173, 0.589);

}


.checkbtn{
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    display: none;
}


#check:checked ~ .nav-btn {
    display: block;
   }

#check {
    display: none;
}

/* Responsive queries */

@media screen and (max-width: 576px) {

    .nav-container{
        margin: 20px 10px 20px 10px;
        display: flex;
        flex-direction: row-reverse;
    }

    .checkbtn{
        display: contents;
    }

    .nav-btn{
        display: none;
    }
     .nav-btn {
        display: none;
        position: absolute;
        left: 280px;
        }
     .nav-btn {
        top: 60px;
        width: 30%;
    }

    .banner{
        width: 100%;
        height: auto;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
    }
    .banner-float2{
        position: relative;
        right: 120px;
        top: 330px;
    }

    .habits-container{
        display: flex;
        flex-direction: column;
    }
    
    .habit-cards {
        display: flex;
        flex-direction: column;
    }

    .habits-text h4{
        text-align: center;
    }

    .run{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .run-text{
        width: 70%;
    }
    
    .run-text h3{
        font-weight: 900;
        font-size: 2.5rem;
    }
    
    .run-img{
        background-color: #00000000;
        padding: 30px 32px 30px 32px;
        border-radius: 18px;
    }
    
    .run-img img{
        width: 18.8rem;
        height: 15.5rem;  
    }

    .mot-txt{
        width: 80%;
       
    }
    
    .mot-images {
        width: 70%;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .feet{
        display: flex;
        flex-direction: column;
        width: 70%;
        /* justify-content: space-between; */
        
    }

    .footleft{
        width: 100%;
        height: 176px;
        }


        .footright{
            height: 350px;
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        
        .anchorcol1{ 
            height: 170px;
            margin-top: 10px;
           margin-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
        }
        .anchorcol1 h4{
            font-weight: 700;
            font-size: 1.5rem;
            color: #ffffff;
        }
        
        .anchorcol1 a{
            margin-left: 0px;
        }
        
        .anchorcol2{
            margin-top: 20px;
            margin-left: 0px;
            height: 170px;
            display: flex;
            flex-direction: column; 
            justify-content: space-evenly;
            text-align: center;
        }
        .anchorcol2 h4{
            font-weight: 700;
            font-size: 1.5rem;
            color: #ffffff;
        }
        .anchorcol2 a{
            margin-left: 0px;
        }
        
        .cpr{
           
            width: 70%;
        
        }
        

        .chart-input{
            height: auto;
            display: flex;
            flex-direction: column;
        }

        .input-title{
            width: 80%;
            margin-left: 0px;
        }

        .input-title h2{
            /* width: 300px; */
            padding-left: 5px;
            font-weight: 900;
            font-size: 18px;
        }
        .input-title p{
            padding-left: 5px;
            /* width: 300px; */
            font-weight: 400;
            font-size: 14px;
        }

        #height{
            width: 200px;
            height: 48px;
        }
        #weight{
            width: 200px;
            height: 48px;
        }
        #age{
            width: 200px;
            height: 48px;
        }
        #sex{
            width: 200px;
            height: 48px;
        }
        #sf {
            margin-left: 10px;
            width: 420px;
            height: 48px;
        }
        
    
}
